
<!DOCTYPE html>

<html lang="en">
<head>
<meta charset="utf-8"/>
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<title>007-First-Light-SteamRIP.com.rar</title>
<meta content="007-First-Light-SteamRIP.com.rar" name="title"/>
<meta content="Fast and reliable file hosting service." name="description"/>
<meta content="bzzhr.to" name="application-name"/>
<script defer="" src="/xz.js?v=3d83e77dfc6790a2ffd811e1e2fec658d605d030-dirty"></script>
<link href="/whysostylish.css?v=3d83e77dfc6790a2ffd811e1e2fec658d605d030-dirty" rel="stylesheet"/>
<link href="/icons.css?v=3d83e77dfc6790a2ffd811e1e2fec658d605d030-dirty" rel="stylesheet"/>
<script defer="" src="https://challenges.cloudflare.com/turnstile/v0/api.js"></script>
<meta content='{"methodsThatUseUrlParams":["get"]}' name="htmx-config"/>
</head>
<body class="min-h-screen p-1.5" hx-ext="head-support">
<div>
<h1 class="text-center text-3xl font-bold mt-1 mb-0">BZZHR</h1>
<p class="text-center mt-0">Fast and reliable file hosting service.</p>
</div>
<ul class="navbar text-center p-0 mb-7" hx-ext="preload">
<li><a href="/" preload="mouseover">Index</a></li>
<li><a href="/pricing" preload="mouseover">Pricing</a></li>
<li><a href="/blog" preload="mouseover">Blog</a></li>
<li><a href="/speedtest" preload="mouseover">Speedtest</a></li>
<li><a href="/developers" preload="mouseover">Developers</a></li>
<li><a href="/privacy" preload="mouseover">Privacy</a></li>
<li><a href="/terms" preload="mouseover">Terms</a></li>
<li><a href="/proxy" preload="mouseover">Proxy</a></li>
<li><a href="/contact" preload="mouseover">Contact</a></li>
<li><a href="/help" preload="mouseover">Help</a></li>
</ul>
<div class="max-w-2xl mx-auto mt-7">
<p class="file-name">007-First-Light-SteamRIP.com.rar</p>
<p class="text-disabled text-sm mt-2 mb-5">74467 downloads · 82475 views · Uploaded June 9, 2026</p>
<div class="download-row">
<a class="download-btn gay-button" hx-get="/rcby3xmpgwb4/download?t=MTc4MjQ2OTgwODI3OA.Zdan5XUv-kW8F78LWa2FDsG2mi0JIYe3iy5wD_PoRQE">Download File <span class="size">49.2GB</span></a>
<div class="flex flex-col gap-1 justify-center">
<a class="link-button gay-button whitespace-nowrap copy" onclick="copyDownloadLink('\/rcby3xmpgwb4\/download?t=MTc4MjQ2OTgwODI3OA.Zdan5XUv-kW8F78LWa2FDsG2mi0JIYe3iy5wD_PoRQE')">Copy download link</a>
<a class="link-button gay-button whitespace-nowrap" hx-get="/rcby3xmpgwb4/download?t=MTc4MjQ2OTgwODI3OA.Zdan5XUv-kW8F78LWa2FDsG2mi0JIYe3iy5wD_PoRQE&amp;alt=true">Slow? Try mirror 2</a>
<a class="link-button gay-button whitespace-nowrap" hx-get="/rcby3xmpgwb4/preview?t=MTc4MjQ2OTgwODI3OA.Zdan5XUv-kW8F78LWa2FDsG2mi0JIYe3iy5wD_PoRQE" hx-swap="innerHTML" hx-target="#preview">Open in browser instead</a>
</div>
</div>
<p><strong>MD5:</strong><code class="break-all">b36e74f78603dabc113fbe1ac2346fdd</code></p>
<p><strong>SHA-256:</strong><code class="break-all">22af4f9ce5d36e1a46db7c2162d7765dcd612f71e29b65701fc22cce858d1eff</code></p>
<p><strong>Discord: </strong><a href="https://discord.gg/NBVFJsmy9y">https://discord.gg/NBVFJsmy9y</a></p>
<p class="mt-6">If you think this file violates content policy, <a href="/contact?file=rcby3xmpgwb4">report here</a></p>
<div class="warn mt-5">
<p class="lede text-danger font-bold">All downloads happen in this fucking window.</p>
<p>If you see any "Download" buttons in ads, be smart:</p>
<ul>
<li>Close that shit and come back here.</li>
<li>Real files are big. Ads are tiny (just MBs).</li>
<li>We don't run "Download Manager" popups. Ever.</li>
</ul>
</div>
<div class="mt-4" id="preview"></div>
</div>
<script>
  

  window.AdLink = "aHR0cHM6Ly9idXp6b25jbGljay5jb20vanVtcC9uZXh0LnBocD9yPTExMjgzOTk4"
  
</script>
<div class="text-center text-danger mt-9">
<div id="flash"></div>
</div>
<script>(function(){function c(){var b=a.contentDocument||a.contentWindow.document;if(b){var d=b.createElement('script');d.innerHTML="window.__CF$cv$params={r:'a11b3087fa35940b',t:'MTc4MjQ2NjE4Nw=='};var a=document.createElement('script');a.src='/cdn-cgi/challenge-platform/scripts/jsd/main.js';document.getElementsByTagName('head')[0].appendChild(a);";b.getElementsByTagName('head')[0].appendChild(d)}}if(document.body){var a=document.createElement('iframe');a.height=1;a.width=1;a.style.position='absolute';a.style.top=0;a.style.left=0;a.style.border='none';a.style.visibility='hidden';document.body.appendChild(a);if('loading'!==document.readyState)c();else if(window.addEventListener)document.addEventListener('DOMContentLoaded',c);else{var e=document.onreadystatechange||function(){};document.onreadystatechange=function(b){e(b);'loading'!==document.readyState&&(document.onreadystatechange=e,c())}}}})();</script></body>
</html>
